<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: rgb(228, 166, 91);
        }
        .container{
            padding: 60px;
            background-color: rgb(252, 123, 2);
            height: 200px;
            width: 300px;
            position: relative;
            left: 530px;
            top: 230px; 
        }
    </style>
</head>
<body>
    <div class="container">            
        <h1>Welcome to the index page <a href="/prediction">click here</a></h1>
    </div>
</body>
</html>